.column {
  width: 100%;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
html {
  font-family: "Hind";
}
.nav a {
  background-color: black;
  border: none;
  padding: 5%;
  text-decoration-line: none;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: "Hind";
  font-size: 200%;
  color: white;

  justify-content: center;
}
nav {
  justify-content: center;
}
#Top {
  background-color: black;
}
header {
  background-color: black;
}
.contactBanner {
  background-image: url("../img/keyboard.jpg");
  background-size: 100%;
  background-position-y: center;
  padding: 7%;
  color: white;
  filter: grayscale(50%);
}
.contactForm input {
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.contactForm {
  padding: 10%;
  padding-left: 30%;

  justify-content: center;
}
.contactForm textarea {
  width: 40%;
  height: 15%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.contactBanner h1 {
  text-align: center;
  font-size: 600%;
  padding-bottom: 3%;
}
.HomeBanner {
  /* background-image: url("../img/header.jpg");*/
  background-image: url("../img/gitar.jpg");
  filter: grayscale(50%);
  background-size: 100%;
  background-position-y: 80%;
  color: white;
  display: flex;
}
#profilePic {
  margin: 1%;
  margin-top: 15%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.HomeBanner h1 {
  width: 0%;
  font-size: 310%;
  margin-top: auto;
  padding-bottom: 3%;
}
.HomeBanner i {
  color: white;
  font-size: 210%;
  margin-top: auto;
  padding-bottom: 1%;
}
.albumTrack {
  width: 10%;
  height: 10%;
  justify-self: left;
}
.trackInfo {
  
  padding: 1%;
  width: 45%;
  flex-direction: column;
  margin-top: auto;

}
.track {
  display: flex;
  flex-direction: row;
  margin:1%;
}
.barGraph {
  display: flex;
  margin:1%;
  border-color: black;
  background: rgb(186,133,182);
background: linear-gradient(90deg, rgba(186,133,182,1) 0%, rgba(115,16,130,1) 17%, rgba(141,141,221,1) 41%, rgba(0,212,255,1) 63%, rgba(116,224,181,1) 87%);
  border-style: solid;
  border-radius: 5%;
  width:80%;
  height:5%;
}
.barFill {
  background-color:white;
  
  
}
.barContainer{
  width:40%;
  display: flex;
  text-align: center;
}

.heart{
  display:flex;
  justify-items: center;
  width:5%;
  margin-left: auto;
  
}
.listenCount{
  text-align: center;
}

@media screen and (min-width: 600px) {
  /* For tablets: */
  .column {
    width: 50%;
  }
}


@media screen and (min-width: 1024px) {
  /* For desktop: */
  .column {
    width: 33.333%;
  }
  .nav a {
    flex-flow: row;
  }
}
.nav {
  display: flex;
  justify-content: center;
}
